*{

	font-family: Calibri;


}


#icon {

 font-size: 30px;
 color: #575757;
 float:left;
 padding: 20px;
 margin-left: 2%;
 width: 50%;

}


nav{

	padding: 20px;
	margin-top: 0.5%;
	float:right;
}

nav ul li{

	display: inline;
	margin-left: 10px;
	margin-right: 10px;
}





#profile{


	padding-bottom: 3%;
	width:100%;
	background-color: #f6f6f6;
	float: left;

}

#WelcomeText{
	margin-top: 40px;
	padding-left: 5%;
	padding-right: 5%;
width: 55%;
float: left;


}


.heading{
margin-top: 40px;
font-size: 72px;
color: #575757;

}

.subheading{
	margin-top: 10px;
font-size: 40px;
color: #428F92;
margin-left: 2%;

}

#skills{

	margin-top: 20px;
margin-left: 2%;


}

#skillslist{

list-style-image:  url('icon.png');
padding-left: 5%;
font-size: 25px;

}


#cvbutton{

padding-left: 3%;
padding-right: 3%;
text-decoration: none;
border: none;
font-size: 20px;
padding-top: 5px;
padding-bottom: 5px;
border-radius: 10px;
color: #ffffff;
background-color: #428F92;
margin-bottom: 1%;
margin-top: 40px;
margin-left: 3%;

}


#profileimage{
margin-top: 8%;
width: 30%;
min-width: 400px;

float: left;


}


.boxtext{

text-align: center;
font-size: 20px;
font-weight: bold;
color: #575757;
padding: 10px;

}








#projects{

float:left;
width: 100%;
padding-bottom: 3%;
background-color: #428F92;


}


.white{

color:white;
margin-left: 4%;
margin-top: 5%;

}




#boxholder{
height: 100px;
margin: auto;
width: 90%;




}



.box{

	min-width: 250px ;
	
	margin: 1.5%;
	padding: 1%;
    width: 20%;
    float: left;
    background: white;
    border-radius: 20px;

}


.boximage{

width: 80%;
margin: 10%;


}


.minibox{


width: 35%;
background: green;
border-radius: 10px;
float: right;
padding: 5px;
color: #FFFFFF;
text-align: center;
font-size: 20px;
margin: 1%;
text-transform: uppercase;
font-weight: bold;




}

.android{


background-color: #42B047;

}


.design{



	background: #3492B7;

}



.java{

	background: #FF4B1E;


}