
.padding{


padding: 5%;


}


body{

    background: #f6f6f6;


}



#project-container{
float:left;
grid-template-rows: 1fr;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
display: grid;


}


.grey{

    color: #575757 !important; 
    background: #f6f6f6 !important;


}


.blue{


    color:white !important;
    background-color: #428F92 !important;



}


.projectlogo{

    width: 60%;
    border-radius: 29%;
  
    margin: auto; 
    background: white;
    grid-column: 1 / span 1;


}

.projecttitle{

    margin: auto 0px;
    /* text-align: center; */
    font-size: 40px;
 
    grid-column: 2 / span 5;


}

.projecttext{


font-size: 30px;
grid-column: 1 / span 6 ;

}

.projectscreenshot{

    margin-left: 5%;
    width: 80%;
    grid-column: 1 / span 6 ;



}

.githubbutton{
    text-decoration: none;
    border: none;
    font-size: 30px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    color: #000000;
    background-color: #FFFFFF;

}

form{

    
    grid-column: 1 / span 6 ;
    width: 90%;

}



@media only screen and (min-width: 1280px){


    .padding{


        padding: 5%;
        
        
        }
        
        
        body{
        
            background: #f6f6f6;
        
        
        }
        
        
        
        #project-container{
        float:left;
        grid-template-rows: 0.3fr 0.5fr   0.3fr ;
        grid-template-columns: 0.4fr 1fr 1fr 1fr 1fr 1fr;
        display: grid;
        
        
        }
        
        
        .grey{
        
            color: #575757 !important; 
            background: #f6f6f6 !important;
        
        
        }
        
        
        .blue{
        
        
            color:white !important;
            background-color: #428F92 !important;
        
        
        
        }
        
        
        .projectlogo{
        
            width: 70%;
            border-radius: 29%;
        
            /* margin: auto; */
            background: white;
            grid-column: 1 / span 1;
            grid-row:  1/ span 1;
        
        }
        
        .projecttitle{
        
            margin: auto 0px;
            /* text-align: center; */
            font-size: 40px;
            margin-left: 1%;
            grid-column: 2 / span 2;
            grid-row:  1/ span 1;
        
        }
        
        .projecttext{
        margin: auto;
        
        font-size: 30px;
        grid-column: 1 / span 3 ;
        grid-row:  2/ span 1;
        padding-left: 3%;
        }
        
        .projectscreenshot{
        
            margin: auto;
            width: 66%;
            grid-column: 4 / span 3 ;
            grid-row:  1/ span 3;
        
        
        }
        
        .githubbutton{
            padding-left: 3%;
            padding-right: 3%;
            text-decoration: none;
            border: none;
            font-size: 25px;
            width: 100%;
            padding-top: 5px;
            padding-bottom: 5px;
            border-radius: 10px;
            margin:auto;
            background-color: #FFFFFF;
         
            
            
        }
        
        form{
        
            grid-column: 1 / span 2 ;
            height: 100%;
            width: 90%;
        
        }



}